h1 {
font-family: Verdana;
font-size: 50px;
font-weight: normal;
color: white;

}
body{
  background-color: black;
  font-family: Verdana;
  text-align: center;
}
#download, p{
  font-size: 16px;
  color: aquamarine;


}
